#!/bin/bash

today="$(date -Iseconds)"

source "${HOME}/.borg-env"

set -e

cd /opt/bitwarden
sudo -u bitwarden ./bitwarden.sh stop 2>/dev/null 1>/dev/null

borg create "{{ borg_archive_root }}/bitwarden::${today}" /opt/bitwarden/bwdata
borg prune "{{ borg_archive_root }}/bitwarden" --keep-daily=7 --keep-weekly=4 --keep-monthly=6

sudo -u bitwarden ./bitwarden.sh start 2>/dev/null 1>/dev/null

exit 0
