[Unit]
Description=PhotoPrism
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ home_dir }}/photoprism
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
User=photoprism
Group=photoprism

[Install]
WantedBy=multi-user.target
