# Log rotation for PHP error logs
/var/log/php/{{ php_version }}/*.log {
  rotate 6
  weekly
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
  postrotate
    if [ -x /usr/lib/php/php{{ php_version }}-fpm-reopenlogs ]; then
      /usr/lib/php/php{{ php_version }}-fpm-reopenlogs;
    fi
  endscript
}
